/* .hero-bg {
  background: radial-gradient(circle at 50% 0%, rgba(0, 229, 255, 0.25), transparent 70%),
              url(""),
              #02050A;
  background-size: cover;
  background-position: center;
  animation: floatbg 10s infinite ease-in-out alternate;
}

@keyframes floatbg {
  from {background-position: 50% 50%;}
  to {background-position: 52% 48%;}
} */
